p{
    color: #d2e6ca;
    text-align: center;
}

body{
    background: url('Images/download.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;   
}

#rcorners1 {
    align-content: center;

    border-radius: 25px;
    border: 2px solid rgb(34, 3, 79);
    background: rgb(54, 21, 131);    
    padding: 20px; 
    width: 400px; 
    margin: auto;
     
 }

#rcorners2 {
    align-content: center;

    border-radius: 25px;
    border: 2px solid #73AD21;
    background: rgb(66, 104, 13);    
    padding: 20px; 
    width: 400px; 
    margin: auto;
     
 }

 h1 {
     color: #73AD21;
 }

 .form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;

}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;

}

.form-control input {
    border: 2px solid #000000; /* input field border colour */
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;

}



.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}


.form button {
    background-color: gray;
    border: 2px solid grey;
    border-radius: 4px;
    color: black;
    font-family: inherit;
    padding: 10px;
    width: 100%;
}