p {
	color: #d2e6ca;
	text-align: center;
}

body {
	background: url("Images/download.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
}

#rcorners1 {
	align-content: center;

	border-radius: 25px;
	border: 2px solid rgb(34, 3, 79);
	background: rgb(54, 21, 131);
	padding: 20px;
	width: 400px;
	margin: auto;
}

#rcorners2 {
	align-content: center;

	border-radius: 25px;
	border: 2px solid #73ad21;
	background: rgb(66, 104, 13);
	padding: 20px;
	width: 400px;
	margin: auto;
}

h1 {
	color: #73ad21;
}

.wrapper {
	padding: 0 24px;
	max-width: 650px;
	margin: 0 auto;
}

.required {
	color: red;
}
