html {
    font-family: Helvetica, sans-serif;
    background: #B1CBBB;
    
}

body {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    flex: 1;
    margin: 15px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.column {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 5px;
}

header h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
}

.row {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.row label {
    display: inline-block;
    margin-bottom: 5px;
}

.row input, select, textarea {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.row small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    color: red;
}

.required {
    color: red;
  }

input[type="submit" i] {
    background-color: #588c7e;
    text-transform: uppercase;
    color: #f0f0f0;
    font-size: 16px;
}

.row.error input, .row.error select, .row.error textarea {
    border-color: red;
    visibility: visible;
}

.row.error small {
    visibility: visible;
    color: red;
}
